<!-- views/cart.handlebars -->
<h1>Shopping Cart</h1>
{{#if cart.length}}
  {{#each cart}}
    <div class="cart-item">
      <h2>{{brandname}} - {{name}}</h2>
      <p>Price: ${{price}}</p>
    </div>
  {{/each}}
{{else}}
  <p>Your cart is empty.</p>
{{/if}}
