<form action="/filters" method="post">
    <label for="color">Color:</label>
    <select name="" id=""></select>
    <label for="size">Size:</label>
    <input type="number" name="size">
    <label for="brand">Brand:</label>
    <input type="text" name="brand">
    <button type="submit">Filter</button>
</form>
